<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-85/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nombre de la entrega: Semana 3 - Actividad 1**

**Equipo 85:**

*   Pablo Alejandro Bravo Vargas - A01793024
*   Antonio Saenz Ramirez        - A01793884

Profesor: Jobish Vallikavungal Devassia 

Fecha: 04/10/2022

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Importar base
filename = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
df = pd.read_csv(filename)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [ ]:
#Cambiar el nombre a las columnas para identificar a que corresponden los datos
df.columns = ['ID','Motivocredito','Genero','Educacion','EstadoCivil','Edad',
              'Pagos_Sep_2005','Pagos_Ago_2005','Pagos_Jul_2005','Pagos_Jun_2005','Pagos_May_2005','Pagos_Abr_2005',
              'Estado_Sep_2005','Estado_Ago_2005','Estado_Jul_2005','Estado_Jun_2005','Estado_May_2005','Estado_Abr_2005',
              'Monto_Sep_2005','Monto_Ago_2005','Monto_Jul_2005','Monto_Jun_2005','Monto_May_2005','Monto_Abr_2005','Y']
df.head()

,ID,Motivocredito,Genero,Educacion,EstadoCivil,Edad,Pagos_Sep_2005,Pagos_Ago_2005,Pagos_Jul_2005,Pagos_Jun_2005,...,Estado_Jun_2005,Estado_May_2005,Estado_Abr_2005,Monto_Sep_2005,Monto_Ago_2005,Monto_Jul_2005,Monto_Jun_2005,Monto_May_2005,Monto_Abr_2005,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [ ]:
##df.isnull().values.any() #Identificar si la base tiene espacios vacios
##df.isnull().any()        #Identificar por columna los espacios vacios
df.isnull().sum()        #Contar cuantos datos por columna están vacios

ID                  0
Motivocredito       0
Genero              1
Educacion           2
EstadoCivil         2
Edad                5
Pagos_Sep_2005      3
Pagos_Ago_2005      5
Pagos_Jul_2005      7
Pagos_Jun_2005      9
Pagos_May_2005     16
Pagos_Abr_2005     14
Estado_Sep_2005    11
Estado_Ago_2005    11
Estado_Jul_2005    13
Estado_Jun_2005    15
Estado_May_2005    17
Estado_Abr_2005    10
Monto_Sep_2005      8
Monto_Ago_2005      9
Monto_Jul_2005      8
Monto_Jun_2005     11
Monto_May_2005     11
Monto_Abr_2005      5
Y                   3
dtype: int64

#Revisar si los valores de cada columna hacen sentido

In [ ]:
#Género (1 = masculino; 2 = femenino). Está ok
print(df['Genero'].unique())
print(df['Genero'].value_counts())
#Sustituiremos el único registo que esta en blanco por "2", ya que representa el 60% de los datos
df['Genero'].fillna(2, inplace = True) 
print(df['Genero'].unique())

[ 2.  1. nan]
2.0    18112
1.0    11887
Name: Genero, dtype: int64
[2. 1.]

In [ ]:
#Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros). Los que se encuentran en 5,6,0,nan los convertiremos en 4, para reflejarlo en "otros"
print(df['Educacion'].unique())
df.Educacion.replace({5: 4, 6: 4, 0: 4}, inplace=True)
df['Educacion'].fillna(4, inplace = True) 
print(df['Educacion'].unique())

[ 2.  1.  3.  5.  4.  6.  0. nan]
[2. 1. 3. 4.]

In [ ]:
#Estado civil (1 = casado; 2 = soltero; 3 = otros). Los NA los cambiaremos por otros
print(df['EstadoCivil'].unique())
df.EstadoCivil.replace({0: 3}, inplace=True)
df['EstadoCivil'].fillna(3, inplace = True)
print(df['EstadoCivil'].unique())

[ 1.  2.  3.  0. nan]
[1. 2. 3.]

In [ ]:
#Edad (año)
print(df['Edad'].unique())
#Utilizaremos el promedio de edad de las personas para susituir los NA
df.Edad.fillna(df.Edad.mean(), inplace=True)
print(df['Edad'].unique())

[24. 26. 34. 37. 57. 29. 23. 28. 35. 51. 41. 30. 49. 39. 40. 27. 47. 33.
 32. 54. 58. 22. 25. 31. 46. 42. 43. 45. 56. 44. 53. 38. 63. 36. 52. 48.
 55. 60. 50. nan 75. 61. 73. 59. 21. 67. 66. 62. 70. 72. 64. 65. 71. 69.
 68. 79. 74.]
[24.         26.         34.         37.         57.         29.
 23.         28.         35.         51.         41.         30.
 49.         39.         40.         27.         47.         33.
 32.         54.         58.         22.         25.         31.
 46.         42.         43.         45.         56.         44.
 53.         38.         63.         36.         52.         48.
 55.         60.         50.         35.48421404 75.         61.
 73.         59.         21.         67.         66.         62.
 70.         72.         64.         65.         71.         69.
 68.         79.         74.        ]

In [ ]:
#Para el caso de los pagos y estados de cuenta, los dejamos de considerar para el análisis
df.dropna(inplace = True)  
df.isnull().sum()

ID                 0
Motivocredito      0
Genero             0
Educacion          0
EstadoCivil        0
Edad               0
Pagos_Sep_2005     0
Pagos_Ago_2005     0
Pagos_Jul_2005     0
Pagos_Jun_2005     0
Pagos_May_2005     0
Pagos_Abr_2005     0
Estado_Sep_2005    0
Estado_Ago_2005    0
Estado_Jul_2005    0
Estado_Jun_2005    0
Estado_May_2005    0
Estado_Abr_2005    0
Monto_Sep_2005     0
Monto_Ago_2005     0
Monto_Jul_2005     0
Monto_Jun_2005     0
Monto_May_2005     0
Monto_Abr_2005     0
Y                  0
dtype: int64

**¿Qué datos considero mas importantes? ¿Por qué?**

Dividiría en dos partes los datos, por un lado los descriptivos de usuario (Genero, Educación,Estado Civil y Edad) y por otro lado los cuantitativos (pagos, estado de cuentas y montos de los pagos), con el objetivo de conocer la correlación de los mismos

De acuerdo con el análisis de la empresa, lo que se busca es identificar la probabilidad de incumplimientos de pagos, por lo que considero que la información reelevante sería principalmente el conocer los estadísticos y comportamientos de pagos de cada usuario comparados con el perfil descriptivo de los usuarios.

**¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Para los datos descriptivos, al ser números enteros se buscó clasificar los datos nulos en un conjunto siguiendo cierta lógica.
En el caso de los cuantitavios, se prefirió eliminarlos para no afectar el comportamiento estadístico de la base.


**¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?**

Sí. Nos ayuda a obtener resultados confiables, evitar el sesgo en el análisis y contener errores al momento de interpretar la información

**¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / ¿Por qué?**

Sí. Se debe identificar cuáles datos son valores numéricos y que además estén en el formato correcto; con esto, en el momento de análizar la información y obtener cualquier estadístico, estos sean representados de la forma correcta.

**¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

*   Se agregaron nombres a las columnas para poder identificar a qué corresponde cada registro.
*   Se modificaron los registros que salen del catálogo.
*   Se eliminaron los registros nulos.
*   Se consideró el promedio del campo *edad*.